@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@300;900&display=swap');

BODY {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Fredoka One', cursive;
	font-family: 'Roboto', sans-serif;
}
HEADER {
	height: 2.5em;
	background-color: #a3a3a3;
	position: fixed;
	width: 100vw;
}
HEADER UL {
	margin-top: 0;
	display: flex;
	list-style-type: none;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.header {
	font-size: 8em;
}
.about {
	font-size: 1.3em;
	color: grey;
}
.header > SPAN {
	background-image: linear-gradient(90deg, #49a58c, #5dc98e);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.block IMG {
	width: 40em;
	margin-top: 3em;
}
.btn {
	width: 270px;
	height: 40px;
	border-radius: 20px;
	background-image: linear-gradient(90deg, #49a58c, #5dc98e);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.btn A {
	text-decoration: none;
}
LI {
	margin: 0 2em;
}
.block {
	height: 100vh;
	padding: 0 2em;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
H2 {
	color: #5dc98e;
}
A:link, A:visited {
	color: white;
	text-decoration: none;
}
TD{
	vertical-align: baseline;
}

#about {
	font-size: 1.3em;
}
#setup {
	font-size: 2em;
}